.navbar {
    background-color: rgba(0, 4, 255, 0.2);
    height: 30px;
    border: 10px;
    border-style: double;
    border-radius: 10px;
}
body{
    background: linear-gradient(90deg, rgb(5, 1, 78) 0%, rgba(80,80,189,1) 35%, rgba(0,212,255,1) 100%) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color :black;
}
a:hover{
    color: brown!important;
}
h1{
    display: inline;
    margin-right: 9%;
    margin-left: 4%;
    margin-top: 10px;
}
img {
    height: 300px;
    width: 300px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 30px;
}
.footer{
    background-color: rgba(0, 2, 100, 0.2);
    height: 30px;
    border: 10px;
    border-style: double;
    border-radius: 10px;
}
.footer h1{
    text-align: center;
    margin-left: 40%;
    margin-right: 30%;
}