.navbar {
    background-color: rgba(0, 2, 100, 0.2);
    height: 30px;
    border: 10px;
    border-style: double;
    border-radius: 10px;
}
body{
    background: linear-gradient(90deg, rgb(5, 1, 78) 0%, rgba(80,80,189,1) 35%, rgba(0,212,255,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    display: inline;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-right: 7%;
    margin-left: 4%;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color :black;
}
a:hover{
    color: brown!important;
}
img{
    height:100%;
    width: 100%;
    border-radius: 5px;
}
.footer{
    background-color: rgba(0, 2, 100, 0.2);
    height: 30px;
    border: 10px;
    border-style: double;
    border-radius: 10px;
}
.footer h1{
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    margin-left: 40%;
    margin-right: 30%;
}